@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";


@import "tailwindcss";

@theme {
  --color-bg-main: #0B1220;
  --color-bg-secondary: #0F172A;
  --color-bg-tertiary: #111827;

  --color-primary: #3B82F6;
  --color-hover: #2563EB;
  --color-accent: #6366F1;

  --color-border-subtle: #1F2937;

  --color-text-primary: #F8FAFC;
  --color-text-secondary: #CBD5E1;
  --color-text-muted: #94A3B8;
}